.css
{
    background-color: black;
    color: white;
}
.a
{
background-color: orange;
font-size: large;
}
img.secciones
{
    float: right;
    height: 280px;
    width: 250px;
    margin-right: 100px;
}
hr.hr
{
    background-color: lime;
    height: 4px;
}
table.tablacolor
{
    border: purple 4px solid;
}
.dotted
{
    border: dotted;
    padding-right: 60px;
}
.dashed
{
    border: dashed;
}
section.seccion2
{
    background-color: beige;
}
section.seccion3
{
    background-color: thistle;
}
section.seccion4
{
    background-color: turquoise;
}
section.seccion5
{
    background-color: palegoldenrod;
}
div.seccion1
{
    background-color: silver;
}